.rwboardtile{
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
	background-size: cover;
}

.rwblacktile{
	background-color: lightblue;
}

.rwwhitetile{
	background-color: #FFFFAA;
}

.rwredrobot{
	background-image: url("../images/redrobot.png");
}

.rwbluerobot{
	background-image: url("../images/bluerobot.png");
}

.rwredbase{
	background-image: url("../images/redrobotbase.png");
}

.rwbluebase{
	background-image: url("../images/bluerobotbase.png");
}

.rwrockobsticle{
	background-image: url("../images/rock.png");
}