body{
	margin: 0px;
	padding: 0px;
	background-image: url("../images/squares.png");
	background-color: #222;
}

.diamond{
	color: rgb(255, 192, 0);
	margin-left: 5px;
	margin-right: 5px;
}

.jstag{
	color: rgb(0, 112, 192);
	margin-left: 5px;
	margin-right: 5px;
}

.widgetContainer{
	width: 100%;
	position: relative;
	height: 480px;
	overflow: hidden;
}

.widgetSlider{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0px;
	white-space: nowrap;
}

.leftSlider{
	left: -300px;
	transition-duration: 500ms;
}

.rightSlider{
	right: -300px; 
	transition-duration: 500ms;
}

.leftSlider:hover{
	left: 0px;
	transition-duration: 500ms;
}

.rightSlider:hover{
	right: 0px; 
	transition-duration: 500ms;
}

.preview{
	position: relative;
	width: 700px;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: normal;
	
}

.description{
	position: relative;
	width: 280px;
	height: 460px;
	padding: 10px;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	white-space: normal;
	font-family: "Arial", Gadget, sans-serif;
	overflow-y: auto;
}

.description > h2{
	margin: 0px;
}

.gearsbg{
	position: absolute;
	width: 300px;
	height: 100%;
	border-style: none;
}

.rightgearbg{
	right: 0px;
}

.leftgearbg{
	left: 0px;
}

.learnmore{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.biginitial{
	margin-left: auto;
    margin-right: auto; 
	
	color: rgb(0, 112, 192);
	opacity: 0;
	font-size: 400px;
	font-family: Impact, Charcoal, sans-serif;
	display: inline-block;
	vertical-align: middle;
}

.smlink{
	margin-right: 20px;
}

.smlink > img{
	height: 40px;
}

#bigj{
}

#bigs{
	margin-left: 1000px;
}

#bigname{
	display: inline-block;
	height: 220px;
	font-size: 200px;
	width: 0px;
	
	overflow: hidden;
	color: rgb(50, 162, 242);
	font-family: Impact, Charcoal, sans-serif;
}

#tags{
	font-size: 28px;
	opacity: 0;
	font-family: Impact, Charcoal, sans-serif;
}

#header{
	position: relative;
    display: table;
    width: 100%;
	height: 740px;
	
	background-color: rgb(12, 12, 12);
}

#headeranimation{
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
	height: 100%;
}

/*#headeranimation{
	position: absolute;
	width: 100%;
	height: 350px;
	top: 0px;
}*/

#contentoutercontainer{
	width: 100%;
	text-align: center;
}

#content{
	width: 1000px;
	margin: auto;
	background-color: #BBB;
}

#dothtmllogopreview{
	width: 100%;
	height: 100%;
	
	white-space: nowrap;
	text-align: center;
	padding-top: 70px;
	
	background-color: #58B;
	font-family: "Arial Black", Gadget, sans-serif;
}

#dothtmllogodotsmall{
	background-image: url("../images/bigdot.png");
	height: 16px;
	width: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	line-height: 16px;
	display: inline-block;
	color: white;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}

#dothtmllogo{
	font-size: 128px;
	white-space: nowrap;
	font-family: "Arial Black", Gadget, sans-serif;
}

#dothtmllogo > div{
	line-height: 256px;
	display: inline-block;
	vertical-align: middle;
}

#dothtmlslogan{
	/*font-size: 36px;*/
	color: #EEE;
}

#sequencrname{
	font-size: 60px;
	color: white;
	line-height: 221px;
	margin-left: 50px;
	display: inline-block;
	vertical-align: top;
}

#sequencrpreview{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: lightgreen;
	font-size: 28px;
	background-color: #333;
	vertical-align: top;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sequencrtextholder{
	padding-top: 50px;
	/*padding-bottom: 100px;
	color: lightgreen;*/
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin-left: 30px;
}

/*Main Tabs*/

.main-tabs.dot-tabs{
	position: relative;
	margin-top: -40px;
}

.main-tabs>.dot-tab-button-container{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #0C0C0C;
	text-align: left;
}

.main-tabs>.dot-tab-button-container>div{
	background-color: #555;
}
.main-tabs>.dot-tab-button-container>div:hover{
	background-color: #777;
}
.main-tabs>.dot-tab-button-container>div.selected{
	background-color: white;
}

/*Video Tabs*/

.video-tabs{
	text-align: left;
	background-color: #FFF;
}
.video-tabs{
	white-space: nowrap;
	background-color: #600;
}
.video-tabs>div{
	display: inline-block;
	vertical-align: top;
}
.video-tabs>.dot-tab-button-container{
	width: 15%;
	background-color: #A22;
}
.video-tabs>.dot-tab-button-container>div{
	display: block;
	border: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.video-tabs>.dot-tab-content-container>.dot-tab-content{
	background-color: white;
	padding-left: 0.5%;
	min-height: 1000px;
}
.video-tabs>.dot-tab-content-container>div{
	width: 84.5%;
}

#absolute-video-player-container{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	vertical-align: top;
	text-align: left;

	background-color: rgba(0,0,0,0.7);
	cursor: pointer;
	z-index: 1;
}

#absolute-video-player-container>iframe{
	height: 50%;
	width: 50%;
	margin-top: 12.5%;
	margin-left: 25%;
}

#prev-video,#next-video{
	display: table;
	height: 100%;
	position: absolute;
	/*top: 0;
	bottom: 0;*/
	z-index: 2;
	
}
#prev-video>span,#next-video>span{
	display: table-cell;
	vertical-align: middle;
	font-size: 400px;
	line-height: 400px;
	color: #666;
	font-family: Impact, Charcoal, sans-serif;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#prev-video:hover,#next-video:hover{
	background-color: rgba(255,255,255,0.1);
}
#prev-video{
	left: 0;
}
#next-video{
	right: 0;
}